body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  font-size: 18px;
  font-weight: 400;
}

.nav-bg:hover {
  background-color: #FC0061;
  color: #020202;
  border-radius: 60px;
  opacity: 0.6;
}

#content {
  margin-top: 30px;
  padding-bottom: 20px;
}

.mw-500 {
  max-width: 500px;
}

.title {
  padding-left: 5px;
  padding-right: 5px;
  -webkit-text-decoration: underline dotted #5E0035;
          text-decoration: underline dotted #5E0035;
}

.text {
  color: #020202;
}

.content-text-items {
  margin-top: 6.25rem;
}

#education {
  padding-top: 50px;
}
#education .educationText-bg {
  border-radius: 50 px;
  padding: 20px;
}
#education .images-education {
  padding-bottom: 10px;
}
#education .img-items {
  margin-top: 20px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 50px 10px #FC0061;
          box-shadow: 0 0 50px 10px #FC0061;
}